@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap");
@import "mixins.scss";
@import "./keyframes.scss";

html {
  background: #00b7ff;
}
.AppWrapper {
  font-family: "Muli", sans-serif;
  background: #00b7ff;
}

.Content {
  margin-top: 25px;
  margin-bottom: 25px;

  -webkit-animation: fadeInScroll 0.7s;
  -moz-animation: fadeInScroll 0.7s;
  -ms-animation: fadeInScroll 0.7s;
  -o-animation: fadeInScroll 0.7s;
  animation: fadeInScroll 0.7s;
}

@media screen and (max-width: 480px) {
  .Content {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
