@keyframes fadeInScroll {
  from {
    top: -(2 * 100vh);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeInScroll {
  from {
    top: -(2 * 100vh);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInScroll {
  from {
    top: -(2 * 100vh);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeInScroll {
  from {
    top: -(2 * 100vh);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeInScroll {
  from {
    top: -(2 * 100vh);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rightAnnotation {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(2px, 0px);
  }
}
